{% extends 'layout.html' %}
{% block content %}
  <h2>News feed</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Post">
  </form>
  {% for post in posts %}
    <div class="user-post">
      <hr>
      <h4>
        {{ post.text | slice:":55" }}
        {% if post.text|length > 55 %}
        ...
        {% endif %}
      </h4>
      <p>
        by
        <img src="{{ post.author.profile.avatar.url }}" width="50" height="50"/>
        <b><a href="{% url 'user_profile' post.author.pk %}">{{ post.author }}</a></b>
        on <b><small>{{ post.date_added }}</small></b>
      </p>
      <a href="{% url 'post_details' post.pk %}"><small>See more</small></a>
    </div>
  {% endfor %}
{% endblock %}
