<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeowBook</title>
    <link rel="stylesheet" href="/bin/bootstrap.min.css" >
    <link rel="stylesheet" href="/bin/bootstrap-theme.min.css" >
    <script src="/bin/bootstrap.min.js"></script>
</head>
<body>
    <img src="searchImg"/>
    <a href="{% url 'newsFeed'  %}"><small>MeowBook</small></a>
    <a href="{% url 'discover'  %}"><small>Discover</small></a>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Post">

            <img src="searchImg"/>
        <p>{{ loggedInUser }}</p>
        <select>
            {% for cat in cats  %}
                <option value="{{ catName }}">{{ cat.name }}</option>
            {% endfor %}
        </select>
        </form>


    {% block content %}
    {% endblock %}
</body>
</html>

