
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeowBook</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'pinterestgrid.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pinterestgrid.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript">
    function search()
    {
    srch_term = document.getElementById("srch_term").value;
    var url = "/search/"+srch_term;
    location.href = url;
    }

    </script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
            </div>

            <a class="navbar-brand" href="{% url 'newsfeed' %}"><img src="{% static 'img/LogoMeow.png' %}" style="max-width:100px; margin-top: -7px;"/></a>

            <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                             <li><a href="{% url 'discover' %}">Discover</a></li>
                        </ul>

                        <!--<form class="navbar-form navbar-left" role="search" method="post">-->
                            <!--<div class="form-group">-->

                    <div class="col-sm-3 col-md-3">
                        <!-- search bar -->
                        <div class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="srch_term" id="srch_term">
                                <div class="input-group-btn">
                                    <button ID="myButton"  class="btn btn-default glyphicon glyphicon-search" onclick="search()" Text="Search" />
                                </div>
                            </div>
                        </div>
                    </div>



                         <ul class="nav navbar-nav navbar-right">
                             <li><a href="#">{{ request.user.username  }}</a></li>
                                <li class="dropdown">
                                    <a href="#" class="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Cat<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for cat in cats  %}
                                             <li value='{{ cat.name }}'> <a href="{% url 'newsfeed' %}?current_cat={{ cat.pk }}" >   {{ cat.name }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </li>
                         </ul>
                    </div><!-- /.navbar-collapse -->

             </div><!-- /.container-fluid -->
        </div>
    </nav>




            <!--<img src="searchImg"/>-->


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>



    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->



