{% extends 'layout.html' %}
{% block content %}
    <h2>News Feed</h2>
    <div class="row">
       <div class="col-lg-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Post">
            </form>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-default"> Add pic </button>
        </div>
    </div>

    {% for picture in object_list %}
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="{{ picture.picture.url }}" width="250" height="250"/>
                {{ picture.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}