{% extends 'layout.html' %}
{% block content %}
    <h2>News Feed</h2>
    <div class="row">
       <div class="col-lg-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Post">
            </form>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-default"> Add pic </button>
        </div>
    </div>

    {% for post in object_list %}
        <div class="panel panel-default">
            <div class="panel-body">
                post.description
            </div>
        </div>
    {% endfor %}
{% endblock %}