{% extends 'layout.html' %}
{% block content %}
    <h2 class="page-header"> News Feed </h2>
    <div class="row">
       <div class="col-lg-10">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}

                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default pull-right"> Add pic </button>
        </div>
    </div>


    <section id="pinBoot">
        {% for picture in object_list %}
            <article class="white-panel">
                 <img class="img-circle" src="{{ picture.cat.avatar.url }}" style="height:60px;width:60px;">
                        <strong><a href="#" >{{ picture.cat.name }}</a> </strong>
                        <br/> on <span><small>{{ picture.date_added }}</small></span>
                        <hr/>
                        <img src="{{ picture.picture.url }}" alt="">
                        <br/>
                    <div class="well" style="padding:5px;margin-top:10px;">
                        <p> <small>{{ picture.description }}</small> </p>
                    </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}